<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Management/TodoList</title>
    <link rel="stylesheet", href="/css/style.css">
    <link rel="stylesheet", href="./css/todolist.css">
</head>
<body>
    <header id="header"></header>

    <div class="container">
        <div class="container-header">
            <h1>ToDOリスト</h1>
        </div>
        <%- include("../../pages/todolist/ejs/todolist.ejs", {todoList: todoList}) %>
    </div>
    <footer></footer>

    <script src="/js/include.js"></script>
    
</body>
</html>