<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Management/Calendar</title>
    <link rel="stylesheet", href="/css/style.css">
    <link rel="stylesheet", href="./css/calendar.css">
</head>
<body>
    <header id="header"></header>

    <div class="container">
        <div class="container-header">
            <h1>Calendar</h1>
        </div>
        <div id="calendar" class="calendar-wrap"></div>

    </div>
    <footer></footer>

    <script src="/js/include.js"></script>
    <script src="./js/calendar.js"></script>
    
</body>
</html>