<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Management</title>
        <link rel="stylesheet", href="/css/style.css">
        <link rel="stylesheet", href="../css/markdown.css">
    </head>
<body>
    <header id="header"></header>
    <div class="container">
        <div class="container-header">
            <div class="markdown-header">
                <div class="back">
                    <a href="/markdown">一覧に戻る</a>
                </div>
                <div class="preview-edit">
                    <a href="/markdown/<%= pathName %>">表示</a>
                </div>
            </div>
        </div>

        <div class="markdown-wrapper">
            <textarea id="markdown" placeholder="ここにMarkdownを入力してください..."></textarea>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <script>
        const pathName = <%- JSON.stringify(pathName) %>;
    </script>

    <script src="../js/markdown_edit.js"></script>
    <script src="/js/include.js"></script>
</body>
</html>