<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Management</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/top.css">
</head>
<body>
    <div class="top-wrapper">
        <div class="top-detail">
            <h2 class="subtitle">自己管理アプリ</h2>
            <h1 class="title">My Management</h1>
            <p class="description">
                My Managementは，自身を記録するサービスです．
                <br>
                家計簿や日記，ToDoリストを記録しましょう．
            </p>
            <div class="nextButton">
                <a href="/main" class="button">ログイン</a>
                <!-- <a href="/test" class="button">テスト</a> -->
            </div>
        </div>
    </div>
</body>
</html>